@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;

  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

@mixin title-text {
  @include text();
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@mixin new-price-text {
  @include text();
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
}

@mixin old-price-text {
  @include text();
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
}

@mixin description-text {
  @include text();
  font-size: 12px;
  font-weight: 600;
  line-height: normal;

}

@mixin button-text {
  @include text();
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
